<% provide(:title, "Services") %>
<button type="button"><h1>Services</h1></button>
<p>
  Services the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">Services page</a>.
</p>